*{
    margin: 0;
}
h1{
    text-align: center;
    margin: 0px 0px 25px 0;
}
.btn{
    background-color: white;
}
.categories{
    text-align: center;
}
.categories div {
    height: 14em;
}
.categories h3{
    margin: 0px 50px 25px 50px;
    background-color: #ff0000;
    height: 50px;
    border-radius: 15px;
}
.item-list{
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    list-style: none;
}
.item-list li{
    width: 200px;
    height: 100px;
    background-color: #ff8080;
    border-radius: 15px;
}