form{
    justify-content: center;
    align-items: center;
    padding-top: 150px;
    padding-left: 35%;
    width: 100%;
    background-color: white;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}
button{
    margin-top: 10px;
    border-radius: 20%;
    box-shadow: inset;
    background-color: #ff0000;
}
button:hover{
    background-color: #ff8080;
}
.labelEdit{
    color: #ff0000;
    justify-content: center;
    margin-right: 20px;
}