.navbar {

    background: rgb(40, 38, 38);
    display: flex;
    justify-content: flex-end;
    align-items: center;
    min-height: 40px;

    a {
        color: white;
        padding: 0.5em;
        text-decoration: none;
        margin-right: 1em;
    }
    
}